/* reset default styles */
body, h1, h2, p, ul, ol {
	margin: 0;
	padding: 0;
}

/* entirety of the website */
body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	padding: 20px;
	width: 700px;
	background-image: url('mainbg.png');
	background-attachment: fixed; 
	background-position: center center; /* centers the bg image */
}

/* div containers */
.borders, .goals-div{
	border: 3px solid #fde146;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4); /* bg color with 40% opacity */
	padding: 20px;
	margin-bottom: 20px;
	width: 500px;
	text-align: left;
}

/* div- h1 */
h1 {
	font-size: 50px; 
	font-style: italic; 
	color: #fde146;
	position: fixed; 
	top: 50%; /* vertically centers  h1 */
	right: 30px; 
	z-index: 1; /* place above any content */
}

/* div - h2 */
h2, h3 {
	color: #fde146;
	font-style: italic;
	padding-bottom: 5px;
}

h3{
	margin-bottom: 5px;
}

/* div - p */
p {
	color: #ffffff;
	padding-bottom: 5px;
}

/* div - ul li bullets */
ul li {
	color: #fde146;
	font-weight: 700;  
	list-style: inside;
}

/* div - ol numbers*/
ol { 
	color: #fde146; 
	list-style-position: inside;
}

/* div - ol links*/
ol a {
  color: #fefefe;
  text-decoration: none;
}

/* div - ol links when hovered*/
ol a:hover {
	color: #fde146;
	font-weight: 700;
	text-decoration: underline;
}

/* div - img*/
img {
	width: 200px;
	margin: 10px auto;
	border: 3px solid #423628;
	border-radius: 5px;
}

.input-comments{
	color: #ffffff;
}

.goal-comment{
	color: #ffffff;
}

.reply-comment{
	font-style: italic;
	color: #ffffff;
	padding-left: 30px;
}